<div class="album">
    <a href="/debug/album">
        <img src="/images/debug/album-example.png" alt="" class='album__img'>
    </a>
    <button class="album__play-button"></button>
    <div class="album__text">
        <span class="album__name">
            <a href="/debug/album">
                Rager
            </a>
        </span>
        <span class="album__artist">
            <a href="#">
                Telly Grave
            </a>
        </span>
        <span class="album__info">
            Последний релиз · Альбом
        </span>
    </div>
</div>
@code {
}
