<div class="footer">
    <div class="player">
        <div class="player__left-side">
            <a href="#">
                <img src="/test/example/footer-example.png" alt="" class='player__track-cover'>
            </a>
            <div class="player__track-creds">
                <a class="player__track-title" href="#">
                    Locked In
                </a>
                <a class="player__track-artist" href="#">
                    Spotify
                </a>
            </div>
        </div>
        <div class="player__center-side">
            <div class="player__center-side-up">
                <button class="player__control-button">
                    <img src="/images/icons/repeat.svg" alt="" class="">
                </button>
                <button class="player__control-button">
                    <img src="/images/icons/previous_track.svg" alt="">
                </button>
                <button class="player__control-button player__play-button" onclick="player._bindPlay();">
                    <img src="/images/icons/footer_play.svg" alt="">
                </button>
                <button class="player__control-button">
                    <img src="/images/icons/next_track.svg" alt="">
                </button>
                <button class="player__control-button">
                    <img src="/images/icons/shuffle.svg" alt="">
                </button>
            </div>
            <div class="player__center-side-bottom">
                <span class="player__time-passed">
                    0:02
                </span>
                <input class="player__track-progress" type="range" min="0" max="100" step="0.1" value="0" oninput="player._bindProgress()">
                <span class="player__time-left">
                    3:20
                </span>
            </div>
        </div>
        <div class="player__right-side">
            <div class="player__volume">
                <img src="/images/icons/low_volume.svg">
                <input type="range" min="0" max="100" step="1" value="50"  onchange="player._bindVolume();">
            </div>
        </div>
    </div>
</div>
@code {

}
