<div class="playlists">
    <div class="playlist">
        <a href="#">
            <img src="/images/debug/example-playlist.png">
            <span class="playlist__text">
                Плейлист 1
            </span>
        </a>
    </div>

    <div class="playlist">
        <a href="#">
            <img src="/images/icons/addplaylist.svg">
            <span class="playlist__text">
                Создать плейлист
            </span>
        </a>
    </div>
</div>

@code {

}
