<div class="profile-menu">
    <a href="#" class="profile-menu__text">
        @@figmamusic
    </a>
    <button class="profile-menu__img">
        <ul class="profile-menu__list">
            <li class="profile-menu__item">
                <a href="javascript:ProfileShow()">
                    Аккаунт
                </a>
            </li>
            <li class="profile-menu__item">

            </li>
        </ul>
    </button>
    <form method="post" action="/Identity/Account/LogOut">
        <button type="submit" class="nav-link btn btn-link">Выйти</button>
    </form>
</div>
@code {
    [Parameter]
    public int UserId { get; set; }
}
