<div class="profile-menu">
    <a href="/Identity/Account/Manage" class="profile-menu__text">
        @UserName
    </a>
	<a href="/Identity/Account/Manage">
 		<img class="profile-menu__img" src="/images/icons/user_profile.svg">
 	</a>
</div>
@code {
    [Parameter]
    public int UserId { get; set; }

	[Parameter]
    public string UserName { get; set; }
}
