<div class="search-content">
    <div class="search__layout">
       <_TopicWithArtist Title="Артисты"></_TopicWithArtist>
    </div>
    <div class="artist">
        <_TopicWithTracks Title="Tреки">
        </_TopicWithTracks>
        
        <_TopicWithAlbums Title="Альбомы"></_TopicWithAlbums>
    </div>
</div>
@code {

}
