<div class="sidenav">
    <div class="logo">
        <a href="/debug">
            <img src="/images/icons/logo-with-text.svg" alt="">
        </a>
    </div>
    <div class="nav-bar">
        <nav class="nav">
			@if (SelectedItem == 0)
			{
				<div class="nav-item nav-item--selected">
					<a href="/debug" class='nav-a'>
	                    <img src="/images/icons/house.svg" alt="" class="nav-a__img">
	                    <span class="nav-a__text">
	                        Главная
	                    </span>
              		</a>
            	</div>
			}
			else {
				<div class="nav-item">
	                <a href="/debug" class='nav-a'>
	                    <img src="/images/icons/house.svg" alt="" class="nav-a__img">
	                    <span class="nav-a__text">
	                        Главная
	                    </span>
	                </a>
	            </div>
			}

			@if (SelectedItem == 1)
			{
	            <div class="nav-item nav-item--selected">
	                <a href="/debug/for-you" class='nav-a'>
	                    <img src="/images/icons/heart.svg" alt="" class="nav-a__img">
	                    <span class="nav-a__text">
	                        Для вас
	                    </span>
	                </a>
	            </div>
			}
			else {
	            <div class="nav-item">
	                <a href="/debug/for-you" class='nav-a'>
	                    <img src="/images/icons/heart.svg" alt="" class="nav-a__img">
	                    <span class="nav-a__text">
	                        Для вас
	                    </span>
	                </a>
	            </div>
			}

			@if (SelectedItem == 2)
			{
	            <div class="nav-item nav-item--selected">
	                <a href="/debug/library" class='nav-a'>
	                    <img src="/images/icons/list.svg" alt="" class="nav-a__img">
	                    <span class="nav-a__text">
	                        Медиатека
	                    </span>
	                </a>
	            </div>
			}
			else {
	            <div class="nav-item">
	                <a href="/debug/library" class='nav-a'>
	                    <img src="/images/icons/list.svg" alt="" class="nav-a__img">
	                    <span class="nav-a__text">
	                        Медиатека
	                    </span>
	                </a>
	            </div>
			}
        </nav>
    </div>
    <hr class='sidenav__hr'>
    <_ListPlaylists UserId="@UserId"></_ListPlaylists>
</div>

@code {
    [Parameter]
    public int UserId { get; set; }
    
    [Parameter]
    public int SelectedItem { get; set; }
}
