@if (!String.IsNullOrWhiteSpace(Title))
{
    <h2>
        Популярные треки
    </h2>
}
<div class="artist__tracks">
    <div class="artist__tracks-container">
        <div class="artist__tracks-column">
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
        </div>
        <div class="artist__tracks-column">
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
        </div>
        <div class="artist__tracks-column">
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
            <div class="artist__track">
                <div class="artist__track-left">
                    <button>
                        <img src="/images/debug/boka2.jpg" alt="">
                    </button>
                </div>
                <div class="artist__track-creds">
                    <span class="artist__track-name">
                        Доля воровская
                    </span>
                    <span class="artist__track-album">
                        Доля воровская · 2018
                    </span>
                </div>
                <button></button>
            </div>
        </div>
        <button class="album-list__next-button">
            􀆉
        </button>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int ArtistId { get; set; }
}
