@using Spotify.Pages.Components 
@page "/debug/album"

<_Sidebar></_Sidebar>
<div class="container">
    <header class="header">
        <input type="text" class="search" placeholder="Поиск">
        <_Profile></_Profile>
    </header>
    <main class="main">
        <div class="album-view">
            <div class="album-view__main">
                <div class="album-view__img"></div>
                <div class="album-view__right">
                    <h1>
                        ASTROWORLD
                    </h1>
                    <h2>
                        Travis Scott&nbsp;·&nbsp;2018
                    </h2>
                    <div class="album-view__buttons">
                        <button>
                            <img src="/images/icons/play_button.svg" alt="">
                        </button>
                        <button>
                            <img src="/images/icons/star.svg" alt="">
                        </button>
                        <button>
                            <img src="/images/icons/more.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <_AlbumTracks AlbumId="2"></_AlbumTracks>
        </div>
    </main>
</div>
<_Footer></_Footer>
<_UserProfile></_UserProfile>