@using Spotify.Pages.Components 
@page "/debug/search"

<_Sidebar></_Sidebar>
<div class="container">
    <header class="header">
        <input type="text" class="search" placeholder="Поиск">
        <_Profile></_Profile>
    </header>
        <main class="main">
            <_Search></_Search>
        </main>
</div>
<_Footer></_Footer>
<_UserProfile></_UserProfile>