$color--white: #FFFFFF;
$color--light: #EFEFF4;
$color--light-gray: #D6D6D6;
$color--spun-rearl: #B1AEB4;
$color--tuna: #3A3A3C;
$color--shark: #1C1C1E;
$color--ship-gray: #3E3E42;
$color-mountain-meadow: #13BBA4;
$color--jumbo-light: rgba(118, 118, 128, 0.1);
$color--jumbo-dark: rgba(118, 118, 128, 0.24);
$color--purple: #5856D6;
