.title {
	font-family: SF Pro Rounded;
	font-weight: bold;
	margin-bottom: 0;

	&--main {
		font-size: 40px;
		color: $color--white;
	}

	&--second {
		font-size: 15px;
		color: $color--spun-rearl;
		margin-top: 3px;
	}
}

@media(max-width: 1680px) {
	.title {
		&--main {
			margin-top: 25px;
			font-size: 35px;
		}
	
		&--second {
			font-size: 14px;
		}
	}
}

@media(max-width: 1366px) {
	.title {
		&--main {
			margin-top: 15px;
			font-size: 30px;
		}
	
		&--second {
			font-size: 12px;
		}
	}
}

@media(max-width: 1024px) {
	.title {
		&--main {
			margin-top: 15px;
			font-size: 25px;
		}
	
		&--second {
			font-size: 10px;
		}
	}
}