.title {
	font-family: SF Pro Rounded;
	margin-bottom: 0;
}

.title--main {
	font-weight: bold;
	font-size: 40px;
	color: $color--white;
}

.title--second {
	font-style: normal;
	font-weight: bold;
	font-size: 15px;

	color: $color--spun-rearl;
	margin-top: 3px;
}
