.title {
	font-family: SF Pro Rounded;
	font-weight: bold;
	margin-bottom: 0;

	&--main {
		font-size: 40px;
		color: $color--white;
	}

	&--second {
		font-size: 15px;
		color: $color--spun-rearl;
		margin-top: 3px;
	}
}
