@font-face {
  font-family: 'SF Pro Rounded';
  /*a name to be used later*/
  src: url(../fonts/SF-Pro-Rounded-Bold.otf);
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'SF Pro Rounded';
  /*a name to be used later*/
  src: url(../fonts/SF-Pro-Rounded-Regular.otf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SF Pro Text';
  /*a name to be used later*/
  src: url(../fonts/SF-Pro-Text-Regular.otf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SF Pro Text';
  /*a name to be used later*/
  src: url(../fonts/SF-Pro.ttf);
  font-style: normal;
  font-weight: thin; }

.title {
  font-family: SF Pro Rounded;
  font-weight: bold;
  margin-bottom: 0; }
  .title--main {
    font-size: 40px;
    color: #FFFFFF; }
  .title--second {
    font-size: 15px;
    color: #B1AEB4;
    margin-top: 3px; }

@media (max-width: 1680px) {
  .title--main {
    margin-top: 25px;
    font-size: 35px; }
  .title--second {
    font-size: 14px; } }

@media (max-width: 1366px) {
  .title--main {
    margin-top: 15px;
    font-size: 30px; }
  .title--second {
    font-size: 12px; } }

@media (max-width: 1024px) {
  .title--main {
    margin-top: 15px;
    font-size: 25px; }
  .title--second {
    font-size: 10px; } }

body {
  background-color: #2C2C2E; }

.container {
  margin-left: 20%;
  margin-bottom: 90px;
  padding-top: 50px;
  padding-left: 80px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #3A3A3C;
  z-index: 2; }

@media (max-width: 1680px) {
  .container {
    padding-top: 35px;
    padding-left: 45px; } }

@media (max-width: 1366px) {
  .container {
    padding-top: 25px;
    padding-left: 30px; }
  .footer {
    height: 70px; } }

@media (max-width: 1024px) {
  .container {
    padding-top: 15px;
    padding-left: 22px; }
  .footer {
    height: 60px; } }

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: .9;
  top: 0;
  left: 0;
  background-color: #1C1C1E;
  overflow-x: hidden;
  padding: 0; }
  .sidenav__hr {
    width: 87%;
    border: 1px solid #3A3A3C;
    margin-bottom: 10px; }

.nav-item {
  padding-left: 18px;
  margin: auto;
  display: flex;
  align-items: center;
  width: 87%;
  height: 53px;
  margin-bottom: 10px;
  border-radius: 10px; }
  .nav-item:hover {
    background: rgba(118, 118, 128, 0.1);
    border-radius: 10px; }
    .nav-item:hover .nav-a__text {
      color: #FFFFFF; }
  .nav-item--selected {
    background: rgba(118, 118, 128, 0.24); }
    .nav-item--selected:hover {
      background: rgba(118, 118, 128, 0.24); }
  .nav-item .nav-a__text {
    margin-left: 19px;
    font-family: 'SF Pro Rounded';
    font-weight: bold;
    color: #EFEFF4;
    font-size: 25px;
    line-height: 30px;
    vertical-align: middle; }
  .nav-item .nav-a__img {
    vertical-align: middle;
    width: 30px;
    height: auto; }

@media (max-width: 1680px) {
  .sidenav .nav-a__text {
    font-size: 22px; }
  .sidenav .nav-a__img {
    vertical-align: middle;
    width: 25px;
    height: auto; }
  .nav-item {
    height: 48px; } }

@media (max-width: 1366px) {
  .sidenav .nav-a__text {
    font-size: 18px;
    margin-left: 8px; }
  .sidenav .nav-a__img {
    vertical-align: middle;
    width: 22px;
    height: auto; }
  .nav-item {
    height: 42px; } }

@media (max-width: 1024px) {
  .sidenav .nav-a__text {
    font-size: 16px;
    margin-left: 6px; }
  .sidenav .nav-a__img {
    vertical-align: middle;
    width: 20px;
    height: auto; }
  .nav-item {
    height: 38px; } }

.user-menu {
  margin-right: 90px;
  display: flex;
  align-items: center; }
  .user-menu__img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-image: url("../example/1.jpg");
    background-size: cover;
    border: 0;
    position: relative; }
    .user-menu__img:hover {
      box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
      transition: .6s; }
    .user-menu__img:focus .user-menu__list {
      display: block; }
  .user-menu__list {
    position: absolute;
    left: -110px;
    top: 60px;
    display: none;
    z-index: 1; }
  .user-menu__item {
    width: 132px;
    height: 29px;
    background: #3E3E42;
    font-family: SF Pro Rounded;
    font-weight: bold;
    font-size: 18px;
    list-style-type: none;
    text-align: center; }
    .user-menu__item:hover {
      background: rgba(62, 62, 66, 0.65); }
    .user-menu__item:active {
      background: rgba(0, 0, 0, 0.15); }
    .user-menu__item:first-child {
      border-radius: 20px 20px 0px 0px;
      border-bottom: 1px solid #1C1C1E; }
    .user-menu__item:last-child {
      border-radius: 0px 0px 20px 20px; }
    .user-menu__item a {
      vertical-align: middle;
      color: #FFFFFF; }
  .user-menu__text {
    margin-right: 30px;
    font-family: 'SF Pro Rounded';
    font-weight: bold;
    font-size: 24px;
    color: #D6D6D6; }

@media (max-width: 1366px) {
  .user-menu {
    margin-right: 65px; }
    .user-menu__img {
      width: 55px;
      height: 55px; }
    .user-menu__list {
      left: -90px;
      top: 50px; }
    .user-menu__item {
      width: 100px;
      height: 25px;
      font-size: 16px; }
      .user-menu__item:first-child {
        border-radius: 15px 15px 0px 0px; }
      .user-menu__item:last-child {
        border-radius: 0px 0px 15px 15px; }
    .user-menu__text {
      margin-right: 30px;
      font-size: 18px; } }

.search {
  width: 940px;
  height: 30px;
  background: rgba(118, 118, 128, 0.24);
  border: 1px solid rgba(118, 118, 128, 0.24);
  border-radius: 10px;
  font-family: 'SF Pro Text';
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center;
  flex: 0.8;
  background-image: url("../svg/search.svg"); }

@media (max-width: 1680px) {
  .search {
    height: 25px; } }

@media (max-width: 1366px) {
  .search {
    height: 20px; } }

@media (max-width: 1024px) {
  .search {
    height: 16px; } }

.logo {
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 60px; }
  .logo img {
    width: 222px;
    height: auto; }

@media (max-width: 1680px) {
  .logo {
    margin-top: 50px;
    margin-left: 35px;
    margin-bottom: 50px; }
    .logo img {
      width: 200px; } }

@media (max-width: 1366px) {
  .logo {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px; }
    .logo img {
      width: 170px; } }

@media (max-width: 1024px) {
  .logo {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px; }
    .logo img {
      width: 140px; } }

.player {
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%; }
  .player__track-cover {
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px; }
  .player__track-creds {
    flex-direction: column;
    margin-left: 15px;
    display: flex;
    text-align: left; }
  .player__track-artist {
    font-family: SF Pro Text;
    font-size: 20px;
    color: #B1AEB4; }
  .player__track-title {
    font-family: SF Pro Text;
    font-size: 20px;
    color: #FFFFFF; }
  .player__left-side {
    margin-left: 25px;
    display: flex;
    align-items: center; }
    .player__left-side img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      object-fit: cover; }
  .player__center-side-up {
    vertical-align: middle;
    margin-bottom: 3px; }
  .player__volume img {
    vertical-align: middle;
    margin-right: 10px; }
  .player__volume input {
    vertical-align: middle;
    overflow: hidden;
    width: 110px;
    height: 4px;
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: #1C1C1E; }
    .player__volume input::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13BBA4;
      margin-top: -1px; }
    .player__volume input::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #B1AEB4;
      box-shadow: -80px 0 0 80px #B1AEB4;
      border-radius: 10px; }
    .player__volume input::-moz-range-progress {
      background-color: #B1AEB4; }
    .player__volume input::-moz-range-track {
      background-color: #1C1C1E; }
    .player__volume input::-ms-fill-lower {
      background-color: #B1AEB4; }
    .player__volume input::-ms-fill-upper {
      background-color: #1C1C1E; }
  .player__right-side {
    margin-right: 35px; }
  .player__track-progress {
    vertical-align: middle;
    overflow: hidden;
    width: 530px;
    height: 4px;
    border-radius: 10px;
    -webkit-appearance: none;
    background-color: #1C1C1E; }
    .player__track-progress::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #B1AEB4;
      margin-top: -1px; }
    .player__track-progress::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #B1AEB4;
      box-shadow: -80px 0 0 80px #B1AEB4;
      border-radius: 10px; }
    .player__track-progress::-moz-range-progress {
      background-color: #B1AEB4; }
    .player__track-progress::-moz-range-track {
      background-color: #1C1C1E; }
    .player__track-progress::-ms-fill-lower {
      background-color: #B1AEB4; }
    .player__track-progress::-ms-fill-upper {
      background-color: #1C1C1E; }
  .player__time-passed, .player__time-left {
    font-family: SF Pro Text;
    font-size: 12px;
    color: #B1AEB4; }
  .player__time-passed {
    margin-right: 4px; }
  .player__time-left {
    margin-left: 4px; }
  .player__play-button {
    vertical-align: middle;
    margin: 0 7px; }
    .player__play-button:first-child {
      margin-right: 90px; }
    .player__play-button:last-child {
      margin-left: 90px; }
  .player__control-button {
    vertical-align: middle;
    margin: 0 7px; }
    .player__control-button:first-child {
      margin-right: 90px; }
    .player__control-button:last-child {
      margin-left: 90px; }

@media (max-width: 1366px) {
  .player__track-creds {
    margin-left: 12px; }
  .player__left-side img {
    width: 50px;
    height: 50px; }
  .player__center-side-up {
    margin-bottom: 0; }
  .player__track-artist, .player__track-title {
    font-size: 15px; }
  .player__volume img {
    margin-right: 5px;
    width: 20px;
    height: 20px; }
  .player__track-progress {
    width: 500px;
    height: 3px; }
  .player__time-passed, .player__time-left {
    font-size: 10px; }
  .player__time-passed {
    margin-right: 3px; }
  .player__time-left {
    margin-left: 3px; }
  .player__control-button {
    vertical-align: middle;
    margin: 0 7px; }
    .player__control-button:first-child {
      margin-right: 70px; }
    .player__control-button:last-child {
      margin-left: 70px; }
    .player__control-button img {
      width: 80%; } }

@media (max-width: 1024px) {
  .player__track-creds {
    margin-left: 12px; }
  .player__left-side img {
    width: 40px;
    height: 40px;
    border-radius: 5px; }
  .player__center-side-up {
    margin-bottom: 0; }
  .player__track-artist, .player__track-title {
    font-size: 13px; }
  .player__volume input {
    width: 90px;
    height: 3px; }
  .player__volume img {
    margin-right: 5px;
    width: 16px;
    height: 16px; }
  .player__track-progress {
    width: 400px;
    height: 2px; }
  .player__time-passed, .player__time-left {
    font-size: 10px; }
  .player__time-passed {
    margin-right: 3px; }
  .player__time-left {
    margin-left: 3px; }
  .player__control-button {
    vertical-align: middle;
    margin: 0 7px; }
    .player__control-button:first-child {
      margin-right: 55px; }
    .player__control-button:last-child {
      margin-left: 55px; }
    .player__control-button img {
      width: 65%; } }

.album-list {
  margin-top: 20px;
  display: flex;
  align-items: center; }
  .album-list__next-button {
    font-family: 'SF Pro Text';
    font-weight: thin;
    font-size: 36px;
    color: #EFEFF4;
    transform: rotate(-180deg);
    padding: 0;
    margin-left: 5px; }

.album {
  position: relative;
  width: 220px;
  height: 310px;
  background: rgba(28, 28, 30, 0.8);
  border-radius: 20px;
  margin-right: 18px; }
  .album:hover {
    background: #3A3A3C;
    transition: .6s; }
    .album:hover .album__img {
      box-shadow: 1px 0px 12px 6px rgba(0, 0, 0, 0.35);
      transition: .9s; }
    .album:hover .album__play-button {
      opacity: 100%;
      transition: .4s; }
    .album:hover .album__play-button {
      transition: .8s;
      box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.45); }
  .album:last-of-type {
    margin: 0; }
  .album__text {
    display: flex;
    flex-direction: column; }
  .album__img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 10px; }
  .album__name a, .album__artist a {
    margin: 0 20px;
    font-family: SF Pro Rounded;
    font-weight: bold;
    font-size: 24px;
    color: #D6D6D6;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .album__info {
    margin: 0 20px;
    font-family: SF Pro Rounded;
    font-size: 14px;
    color: #D6D6D6; }
  .album__play-button {
    position: absolute;
    left: 67.27%;
    right: 14.55%;
    top: 47.19%;
    bottom: 39.6%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0%;
    background-image: url("../svg/play_button.svg");
    background-size: cover; }
    .album__play-button:focus {
      background-image: url("../svg/stop_button.svg");
      background-size: cover; }

@media (max-width: 1680px) {
  .album-list {
    margin-top: 15px; }
    .album-list__next-button {
      font-size: 32px; }
  .album {
    width: 200px;
    height: 280px;
    margin-right: 12px;
    border-radius: 18px; }
    .album__img {
      width: 164px;
      height: 164px;
      margin: 18px;
      margin-bottom: 9px;
      border-radius: 18px; }
    .album__name a, .album__artist a {
      margin: 0 18px;
      font-size: 22px; }
    .album__info {
      margin: 0 18px;
      font-size: 12px; }
    .album__play-button {
      width: 36px;
      height: 36px; } }

@media (max-width: 1366px) {
  .album-list__next-button {
    font-size: 26px; }
  .album {
    width: 162px;
    height: 227px;
    margin-right: 9px;
    border-radius: 15px; }
    .album:last-of-type {
      margin-right: 6px; }
    .album__img {
      width: 132px;
      height: 132px;
      margin: 15px;
      margin-bottom: 7px;
      border-radius: 15px; }
    .album__name a, .album__artist a {
      margin: 0 15px;
      font-size: 16px; }
    .album__info {
      margin: 0 15px;
      font-size: 10px; }
    .album__play-button {
      width: 30px;
      height: 30px; } }

@media (max-width: 1024px) {
  .album-list__next-button {
    font-size: 22px; }
  .album {
    width: 150px;
    height: 210px;
    margin-right: 7px;
    border-radius: 15px; }
    .album__img {
      width: 122px;
      height: 122px;
      margin: 13px;
      margin-bottom: 6px;
      border-radius: 15px; }
    .album__name a, .album__artist a {
      margin: 0 13px;
      font-size: 14px; }
    .album__info {
      margin: 0 13px;
      font-size: 8px; }
    .album__play-button {
      width: 25px;
      height: 25px; }
    .album:last-of-type {
      margin: 0;
      display: none; }
    .album:nth-last-of-type(-n+2) {
      margin: 0; } }

.playlist {
  margin-left: 18px;
  margin: auto;
  display: flex;
  align-items: center;
  width: 87%;
  height: auto;
  padding: 5px;
  margin-bottom: 7px; }
  .playlist:hover {
    background: rgba(118, 118, 128, 0.1);
    border-radius: 10px; }
  .playlist img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover; }
  .playlist__text {
    margin-left: 16px;
    font-family: 'SF Pro Rounded';
    font-weight: bold;
    color: #EFEFF4;
    font-size: 25px;
    line-height: 30px;
    vertical-align: middle; }

@media (max-width: 1680px) {
  .playlist img {
    width: 45px;
    height: 45px; }
  .playlist__text {
    font-size: 22px; } }

@media (max-width: 1366px) {
  .playlist img {
    width: 40px;
    height: 40px; }
  .playlist__text {
    margin-left: 8px;
    font-size: 18px; } }

@media (max-width: 1366px) {
  .playlist img {
    width: 35px;
    height: 35px; }
  .playlist__text {
    margin-left: 5px;
    font-size: 15px; } }

.profile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0; }
  .profile:target {
    visibility: visible;
    opacity: 1; }
  .profile__window {
    margin: 12% auto;
    padding: 40px 50px;
    background: #3A3A3C;
    border-radius: 40px;
    position: relative;
    width: 40%;
    height: auto; }
    .profile__window hr {
      width: 100%;
      border: 1px solid #1C1C1E;
      margin-top: 25px;
      margin-bottom: 25px; }
    .profile__window .playlist {
      margin-left: 0;
      width: 100%; }
    .profile__window .playlist:last-of-type {
      margin-bottom: 0; }
  .profile__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../example/1.jpg");
    background-size: cover;
    border: 0;
    position: relative;
    margin-right: 30px; }
  .profile__top, .profile__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    .profile__top input, .profile__bottom input {
      width: 450px;
      height: 44px;
      background: rgba(118, 118, 128, 0.24);
      border: 0;
      border-radius: 10px;
      font-family: 'SF Pro Text';
      font-size: 17px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 0;
      padding-left: 13px; }
    .profile__top button, .profile__bottom button {
      font-family: SF Pro Text;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      color: #5856D6;
      background: #2C2C2E;
      border-radius: 14px;
      padding: 8px 22px;
      height: 44px;
      margin-left: 15px; }
      .profile__top button:hover, .profile__bottom button:hover {
        filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.35));
        transition: .7s; }
      .profile__top button:active, .profile__bottom button:active {
        background-color: #1D1D1E;
        filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.35)); }
  .profile__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .profile__bottom input {
      width: 100%; }
  .profile__superbutton {
    font-family: SF Pro Text;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #5856D6;
    background: #2C2C2E;
    border-radius: 14px;
    width: 100%;
    height: 44px; }
    .profile__superbutton:hover {
      filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.35));
      transition: .7s; }
    .profile__superbutton:active {
      background-color: #1D1D1E;
      filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.35)); }

@media (max-width: 1680px) {
  .profile__img {
    width: 90px;
    height: 90px; }
  .profile__top input {
    width: 370px; } }

@media (max-width: 1366px) {
  .profile__window {
    margin: 10% auto;
    padding: 30px 40px; }
    .profile__window hr {
      margin-top: 20px;
      margin-bottom: 20px; }
    .profile__window .playlist img {
      width: 45px;
      height: 45px; }
    .profile__window .playlist__text {
      font-size: 20px; }
  .profile__img {
    width: 75px;
    height: 75px; }
  .profile__top input {
    width: 270px; }
  .profile__top, .profile__bottom {
    margin-bottom: 15px; }
    .profile__top input, .profile__top button, .profile__bottom input, .profile__bottom button {
      height: 40px;
      font-size: 20px; }
  .profile__superbutton {
    height: 40px;
    font-size: 20px; } }

@media (max-width: 1024px) {
  .profile__window {
    margin: 12% auto;
    padding: 30px 40px; }
    .profile__window hr {
      margin-top: 20px;
      margin-bottom: 20px; }
    .profile__window .playlist img {
      width: 40px;
      height: 40px; }
    .profile__window .playlist__text {
      font-size: 18px; }
  .profile__img {
    width: 60px;
    height: 60px; }
  .profile__top input {
    width: 155px; }
  .profile__top, .profile__bottom {
    margin-bottom: 15px; }
    .profile__top input, .profile__top button, .profile__bottom input, .profile__bottom button {
      font-size: 18px;
      height: 35px; }
  .profile__superbutton {
    height: 35px;
    font-size: 18px; } }

button {
  border: none;
  background-color: transparent;
  outline: none; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */