@import 'colors.scss';
@import 'fonts.scss';
@import 'headers.scss';
@import 'layout.scss';
@import 'nav.scss';
@import 'menu.scss';
@import 'search.scss';
@import 'logo.scss';
@import 'album.scss';
@import 'playlist.scss';


body {
	background-color: $color--shark;
}

button {
	border: none;
	background-color: transparent;
	outline: none;
}

a {
	text-decoration: none;
}
