.sidenav {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color--shark;
	overflow-x: hidden;
	padding: 0;

	&__hr {
		width: 87%;
		border: 1px solid $color--tuna;
		margin-bottom: 10px;
	}
}

.nav-item {
	padding-left: 18px;
	margin: auto;
	display: flex;
	align-items: center;
	width: 87%;
	height: 53px;
	margin-bottom: 10px;
	border-radius: 10px;

	&:hover {
		background: $color--jumbo-light;
		border-radius: 10px;

		.nav-a {
			&__text {
				color: $color--white;
			}
		}
	}

	&--selected {
		background: $color--jumbo-dark;

		&:hover {
			background: $color--jumbo-dark;
		}
	}

	.nav-a {
		&__text {
			margin-left: 19px;
			font-family: 'SF Pro Rounded';
			font-weight: bold;
			color: $color--light;
			font-size: 25px;
			line-height: 30px;
			vertical-align: middle;
		}

		&__img {
			vertical-align: middle;
			width: 30px;
			height: auto;
		}
	}
}

@media(max-width: 1680px) {
	.sidenav {
		.nav-a {
			&__text {
				font-size: 22px;
			}
	
			&__img {
				vertical-align: middle;
				width: 25px;
				height: auto;
			}
		}
	}
	
	.nav-item {
		height: 48px;
	}
}

@media(max-width: 1366px) {
	.sidenav {
		.nav-a {
			&__text {
				font-size: 18px;
				margin-left: 8px;
			}
	
			&__img {
				vertical-align: middle;
				width: 22px;
				height: auto;
			}
		}
	}
	
	.nav-item {
		height: 42px;
	}
}

@media(max-width: 1024px) {
	.sidenav {
		.nav-a {
			&__text {
				font-size: 16px;
				margin-left: 6px;
			}

			&__img {
				vertical-align: middle;
				width: 20px;
				height: auto;
			}
		}
	}
	
	.nav-item {
		height: 38px;
	}
}