.playlist {
	padding-left: 18px;
	margin: auto;
	display: flex;
	align-items: center;
	width: 342px;
	height: auto;
	padding: 5px;
	margin-bottom: 7px;

	&:hover {
		background: $color--jumbo-light;
		border-radius: 10px;
	}

	img {
		vertical-align: middle;
		width: 50px;
		height: auto;
		border-radius: 5px;
	}

	&__text {
		padding-left: 16px;
		font-family: 'SF Pro Rounded';
		font-weight: bold;
		color: $color--light;
		font-size: 25px;
		line-height: 30px;
		vertical-align: middle;
	}
}
