.search {
	width: 940px;
	height: 30px;
	background: $color--jumbo-dark;
	border: 1px solid  $color--jumbo-dark;
	border-radius: 10px;
	font-family: 'SF Pro Text';
	font-size: 16px;
	line-height: 24px;
	color: $color--white;
	padding: 8px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: left 11px center;
	flex: 0.8;
	background-image: url('../svg/search.svg');
}

.search-view {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;

	&:target {
		visibility: visible;
		opacity: 1;
	}

	&__window {
		position: absolute;
		width: 895px;
		height: 934px;
		left: 468px;
		top: 136px;
		background: #323236;
		border-radius: 10px;
	}
}

@media(max-width: 1680px) {
	.search {
		height: 25px;
	}
}

@media(max-width: 1366px) {
	.search {
		height: 20px;
	}
}

@media(max-width: 1024px) {
	.search {
		height: 16px;
	}
}