@page "/"
@using Spotify.DAL
@using System
@inject IFileStorage<int> FS

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @if (fileData.Length > 0)
        {
            <button onclick="player.play('@fileData');">Play 01</button>
        }
    </div>
</div>

@code {
    private string fileData = "";

    protected override async Task OnInitializedAsync()
    {
        byte[] file = FS.GetFileById(FileStorageFileType.Track, 1);
        fileData = "data:audio/mp3;base64," + Convert.ToBase64String(file);
    }
}