.playlists {
	height: 535px;
	overflow: auto;
	margin-bottom: 90px;
}

.playlist {
	margin-left: 18px;
	margin-right: 90px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 87%;
    height: auto;
    padding: 5px;
    margin-bottom: 7px;

    &:hover {
        background: $color--jumbo-light;
        border-radius: 10px;
    }

    img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
    }

    &__text {
        margin-left: 16px;
        font-family: 'SF Pro Rounded';
        font-weight: bold;
        color: $color--light;
        font-size: 25px;
        line-height: 30px;
        vertical-align: middle;
    }
}

.playlist-view {
	margin-top: 25px;
	// margin-right: 90px;
	margin-bottom: 100px;

	&__checkbox{
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__checkbox+&__label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	}
	&__checkbox+&__label::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid $color--tuna;
		border-radius: 0.25em;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}
	&__checkbox:checked+&__label::before {
		border-color: $color--purple;
		background-color: $color--purple;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}
	  /* стили при наведении курсора на checkbox */
	&__checkbox:not(:disabled):not(:checked)+&__label:hover::before {
		border-color: $color--purple-light;
	}
	  /* стили для активного состояния чекбокса (при нажатии на него) */
	&__checkbox:not(:disabled):active+&__label::before {
		background-color:$color--purple-light;
		border-color: $color--purple-light;
	}
	  /* стили для чекбокса, находящегося в фокусе */
	&__checkbox:focus+&__label::before {
		box-shadow: 0 0 0 0.2rem $color--purple-light;
	}
	  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
	&__checkbox:focus:not(:checked)+&__label::before {
		border-color: $color--purple-light;
	}
	  /* стили для чекбокса, находящегося в состоянии disabled */
	&__checkbox:disabled+&__label::before {
		background-color: $color--purple-light;
	}

	hr {
		margin: 30px 0;
		width: 100%;
		border: 1px solid $color--tuna;
	}
	
	&__track-creds {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
	}
	
	&__main {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		&-img {
			width: 250px;
			height: 250px;
			background-size: cover;
			box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.35);
			border-radius: 20px;
			// margin-right: 32px;
		}

		&-right {
			display: flex;
			flex-direction: column;
			margin-left: 40px;
	
			h2 {
				margin: 0;
				font-family: SF Pro Rounded;
				font-weight: bold;
				font-size: 35px;
				color: #FFFFFF;
				margin-bottom: 30px;
			}

			input {
				width: 350px;
				height: 44px;
				background: rgba(118,118,128,.24);
				border: 0;
				border-radius: 10px;
				font-family: 'SF Pro Text';
				font-size: 17px;
				line-height: 24px;
				color: white;
				padding: 0;
				padding-left: 13px;
				margin-bottom: 5px;
			}
		}

		&-save {
			text-align: left;
			font-size: 25px;
			font-family: 'SF Pro Rounded';
			font-weight: 800;
			color: white;
			background-color: rgba(118,118,128,.24);
			width: fit-content;
			padding: 10px 25px;
			border-radius: 10px;
			margin-top: 10px;
		}
	}
}

@media(max-width: 1680px) {
	.playlists {
		height: 555px;
	}

    .playlist {
        img {
            width: 45px;
            height: 45px;
        }

        &__text {
            font-size: 22px;
        }
	}

	.playlist-view {
		margin-top: 20px;
	}
}

@media(max-width: 1366px) {
	.playlists {
		height: 340px;
		margin-bottom: 70px;
	}

    .playlist {
        img {
            width: 40px;
            height: 40px;
        }

        &__text {
            margin-left: 8px;
            font-size: 18px;
        }
	}

	.playlist-view {
		margin-right: 65px;
		margin-top: 15px;
		margin-bottom: 75px;
	}
}

@media(max-width: 1024px) {
	.playlists {
   		height: 420px;
		margin-bottom: 60px;
	}

    .playlist {
        img {
            width: 35px;
            height: 35px;
        }

        &__text {
            margin-left: 5px;
            font-size: 15px;
        }
	}

	.playlist-view {
		margin-top: 15px;
		margin-right: 65px;
		margin-bottom: 30px;
	}
}
