.profile-menu {
    margin-right: 90px;
    display: flex;
    align-items: center;

    &__img {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-image: url('../example/1.jpg');
        background-size: cover;
        border: 0;
        position: relative;

        &:hover {
            box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
            transition: .6s;
        }

        &:focus {
            .profile-menu__list {
                display: block;
            }
        }
    }

    &__list {
        position: absolute;
        left: -110px;
        top: 60px;
        display: none;
        z-index: 1;
    }

    &__item {
        width: 132px;
        height: 29px;
        background: $color--ship-gray;
        font-family: SF Pro Rounded;
        font-weight: bold;
        font-size: 18px;
        list-style-type: none;
        text-align: center;

        &:hover {
            background: #38383B;
        }

        &:active {
            background: #252527;
        }

        &:first-child {
            border-radius: 20px 20px 0px 0px;
            border-bottom: 1px solid $color--shark;
        }

        &:last-child {
            border-radius: 0px 0px 20px 20px;
        }

        a {
            vertical-align: middle;
            color: $color--white;
        }
    }

    &__text {
        margin-right: 30px;
        font-family: 'SF Pro Rounded';
        font-weight: bold;
        font-size: 24px;
        color: $color--light-gray;
    }
}

.profile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    &__window {
        margin: 12% auto;
        padding: 40px 50px;
        background: $color--tuna;
        border-radius: 40px;
        position: relative;
        width: 40%;
        height: auto;

        hr {
            width: 100%;
            border: 1px solid $color--shark;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .playlist {
            margin-left: 0;
            width: 100%;
        }

        .playlist:last-of-type {
            margin-bottom: 0;
        }
    }

    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-image: url('../example/1.jpg');
        background-size: cover;
        border: 0;
        position: relative;
        margin-right: 30px;
    }

    &__top, &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        input {
            width: 450px;
            height: 44px;
            background: $color--jumbo-dark;
            border: 0;
            border-radius: 10px;
            font-family: 'SF Pro Text';
            font-size: 17px;
            line-height: 24px;
            color: $color--white;
            padding: 0;
            padding-left: 13px;
        }

        button {
            font-family: SF Pro Text;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            color: $color--purple;
            background: $color--ship-gray;
            border-radius: 14px;
            // width: 166px;
            padding: 8px 22px;
            height: 44px;
            margin-left: 15px;

            &:hover {
                filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
                transition: .5s;
            }

            &:active {
                background-color: $color--shark;
                filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 100%;
        }
    }

    &__superbutton {
        font-family: SF Pro Text;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: $color--purple;
        background: $color--ship-gray;
        border-radius: 14px;
        width: 100%;
        height: 44px;

        &:hover {
            filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
            transition: .5s;
        }

        &:active {
            background-color: $color--shark;
            filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
        }
    }
}

@media(max-width: 1680px) {
    .profile {
        &__img {
            width: 90px;
            height: 90px;
        }

        &__top {
            input {
                width: 370px;
            }
        }
    }
}

@media(max-width: 1366px) {
    .profile-menu {
        margin-right: 65px;

        &__img {
            width: 55px;
            height: 55px;
        }

        &__list {
            left: -90px;
            top: 50px;
        }

        &__item {
            width: 100px;
            height: 25px;
            font-size: 16px;

            &:first-child {
                border-radius: 15px 15px 0px 0px;
            }

            &:last-child {
                border-radius: 0px 0px 15px 15px;
            }
        }

        &__text {
            margin-right: 30px;
            font-size: 18px;
        }
    }

    .profile {
        &__window {
            margin: 10% auto;
            padding: 30px 40px;

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .playlist {
                img {
                    width: 45px;
                    height: 45px;
                }

                &__text {
                    font-size: 20px;
                }
            }
        }

        &__img {
            width: 75px;
            height: 75px;
        }

        &__top {
            input {
                width: 270px;
            }
        }

        &__top, &__bottom {
            margin-bottom: 15px;

            input, button {
                height: 40px;
                font-size: 20px;
            }
        }

        &__superbutton {
            height: 40px;
            font-size: 20px;
        }
    }
}

@media(max-width: 1024px) {
    .profile {
        &__window {
            margin: 12% auto;
            padding: 30px 40px;

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .playlist {

                img {
                    width: 40px;
                    height: 40px;
                }

                &__text {
                    font-size: 18px;
                }
            }
        }

        &__img {
            width: 60px;
            height: 60px;
        }

        &__top {
            input {
                width: 155px;
            }
        }

        &__top, &__bottom {
            margin-bottom: 15px;

            input, button {
                font-size: 18px;
                height: 35px;
            }
        }

        &__superbutton {
            height: 35px;
            font-size: 18px;
        }
    }
}
