.profile-menu {
	margin-right: 90px;
	display: flex;
	align-items: center;

	&__img {
		width: 66px;
		height: 66px;
		border-radius: 50%;
		background-size: cover;
		border: 0;
		position: relative;

		&:hover {
			box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
			transition: .6s;
		}
	}

	&__list {
		position: absolute;
		left: -110px;
		top: 60px;
		display: none;
		z-index: .9;
	}

	&__item {
		width: 132px;
		height: 29px;
		background: $color--ship-gray;
		font-family: SF Pro Rounded;
		font-weight: bold;
		font-size: 18px;
		list-style-type: none;
		text-align: center;

		&:hover {
			background: #38383B;
		}

		&:active {
			background: #252527;
		}

		&:first-child {
			border-radius: 20px 20px 0px 0px;
			border-bottom: 1px solid $color--shark;
		}

		&:last-child {
			border-radius: 0px 0px 20px 20px;
		}

		a {
			vertical-align: middle;
			color: $color--white;
		}
	}

	&__text {
		margin-right: 30px;
		font-family: 'SF Pro Rounded';
		font-weight: bold;
		font-size: 24px;
		color: $color--light-gray;
	}
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	// visibility: hidden;
	// opacity: 0;
	display: none;
	z-index: 1;

	&:target {
		// visibility: visible;
		// opacity: 1;
	}

	&__window {
		padding: 40px 50px;
		background: $color--tuna;
		border-radius: 40px;
		position: relative;
		width: 40%;
		height: auto;

		hr {
			width: 100%;
			border: 1px solid $color--shark;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		.playlist {
			margin-left: 0;
			width: 100%;
		}
		.playlist:last-of-type {
			margin-bottom: 0;
		}
	}

	&__img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-image: url('../example/1.jpg');
		background-size: cover;
		border: 0;
		position: relative;
		margin-right: 30px;
	}

	&__top, &__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		input {
			width: 100%;
			height: 44px;
			background: $color--jumbo-dark;
			border: 0;
			border-radius: 10px;
			font-family: 'SF Pro Text';
			font-size: 17px;
			line-height: 24px;
			color: $color--white;
			padding: 0;
			padding-left: 13px;
		}
	
		button {
			font-family: SF Pro Text;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
			color: $color--purple;
			background: $color--jumbo-dark;
			border-radius: 14px;
			// width: 166px;
			padding: 8px 22px;
			height:	44px;
			margin-left: 15px;
	
			&:hover {
				filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
				transition: .5s;
			}
	
			&:active {
				background-color: $color--shark;
				filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
			}
		}
	}

	&__name {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		input {
			width: 100%;
		}
	}

	&__superbutton {
		font-family: SF Pro Text;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		color: $color--purple;
		background: $color--jumbo-dark;
		border-radius: 14px;
		width: 100%;
		height:	44px;

		&:hover {
			filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
			transition: .5s;
		}

		&:active {
			background-color: $color--shark;
			filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
		}
	}

	&-reg {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		// visibility: hidden;
		// opacity: 0;
		display: none;
		z-index: 1;

		&__window {
			padding: 45px 45px;
			background: $color--tuna;
			border-radius: 40px;
			position: relative;
			width: 40%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
	
			hr {
				width: 50%;
				border: 1px solid $color--shark;
				margin-top: 25px;
				margin-bottom: 25px;
			}
	
			h2 {
				font-family: SF Pro Text;
				font-weight: 600;
				font-size: 30px;
				line-height: 24px;
				text-align: center;
				color: #FFFFFF;
				margin: 0;
				margin-bottom: 35px;
			}
		}

		button {
			font-family: SF Pro Text;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
			color: $color--purple;
			background: $color--jumbo-dark;
			border-radius: 14px;
			// width: 166px;
			padding: 8px 22px;
			margin-top: 25px;
	
			&:hover {
				filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
				transition: .5s;
			}
	
			&:active {
				background-color: $color--shark;
				filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.35));
			}
		}

		span {
			font-family: SF Pro Text;
			font-weight: bold;
			font-size: 20px;
			color: #FFFFFF;
			text-align: center;
		}

		&__inputs {
			display: flex;
		    flex-direction: column;
			align-items: start;

			span {
				margin-top: 15px;
			}

			input {
				width: 400px;
				height: 44px;
				background: $color--jumbo-dark;
				border: 0;
				border-radius: 10px;
				font-family: 'SF Pro Text';
				font-size: 17px;
				line-height: 24px;
				color: $color--white;
				padding: 0;
				padding-left: 13px;
			}
		}

		&__bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@media(max-width: 1680px) {
	.profile {
		&__img, &__img-default {
			width: 90px;
			height: 90px;
		}

		&-reg {
			&__window {
				h2 {
					font-size: 27px;
					margin-bottom: 30px;
				}
			}
		}
	}

	.profile-menu {
		&__img {
			width: 55px;
			height: 55px;
		}
	}
}

@media(max-width: 1366px) {
	.profile-menu {
		margin-right: 65px;
	
		&__img {
			width: 44px;
			height: 44px;
		}
	
		&__list {
			left: -90px;
			top: 50px;
		}
	
		&__item {
			width: 100px;
			height: 25px;
			font-size: 16px;
	
			&:first-child {
				border-radius: 15px 15px 0px 0px;
			}
	
			&:last-child {
				border-radius: 0px 0px 15px 15px;
			}
		}
	
		&__text {
			margin-right: 30px;
			font-size: 18px;
		}
	}

	.profile {
		&__window {
			padding: 30px 40px;

			hr {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.playlist {
				img {
					width: 45px;
					height: 45px;
				}

				&__text {
					font-size: 20px;
				}
			}
		}

		&__img, &__img-default {
			width: 75px;
			height: 75px;

		}

		&__top, &__bottom {
			margin-bottom: 15px;

			input, button {
				height: 40px;
				font-size: 20px;
			}
		}

		&__superbutton {
			height: 40px;
			font-size: 20px;
		}

		&-reg {
			&__window {
				padding: 35px 25px;
		
				h2 {
					font-size: 22px;
					margin-bottom: 12px;
				}
			}
	
			button {
				font-size: 16px;
			}

			span {
				font-size: 16px;
			}
	
			&__inputs {
				span {
					margin-top: 12px;
				}

				input {
					width: 350px;
					height: 40px;
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.profile {
		&__window {
			padding: 30px 40px;

			hr {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.playlist {
				
				img {
					width: 40px;
					height: 40px;
				}

				&__text {
					font-size: 18px;
				}
			}
		}

		&__img, &__img-default {
			width: 60px;
			height: 60px;

		}

		&__top, &__bottom {
			margin-bottom: 15px;

			input, button {
				font-size: 18px;
				height: 35px;
			}
		}

		&__superbutton {
			height: 35px;
			font-size: 18px;
		}
		&-reg {
			&__window {
				width: 45%;
				padding: 20px 15px;
		
				h2 {
					font-size: 18px;
					margin-bottom: 8px;
				}
			}
	
			button {
				font-size: 14px;
				padding: 6px 18px;
				margin-top: 20px;
			}
	
			span {
				font-size: 14px;
			}

			&__inputs {
				span {
					font-size: 14px;
					margin-top: 8px;
				}

				input {
					width: 330px;
					height: 35px;
					font-size: 14px;
				}
			}
		}
	}

	.profile-menu {
		&__img {
			width: 40px;
			height: 40px;
		}
	}
}